name: POC-GITHUB-AWS-INTEGRATION

on:
  workflow_dispatch:

env:
  AWS_REGION: ap-northeast-1
  
permissions:
  contents: read
  id-token: write   
  actions: read     

jobs:
  deploy:
    name: Read S3
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v3
      with:
        role-to-assume: arn:aws:iam::307202557929:instance-profile/main
        aws-region: ${{ env.AWS_REGION }}

    - name: AWS CLI v2
      uses: imehedi/actions-awscli-v2@latest
      with:
        args: s3 ls
